<!-- Navbar Secondaire Beaute -->
<div class="container-fluid d-flex justify-content-lg-center bg-white secondary-nav">
    <a class="card border-0 m-2 nav-link" href="{{ path('beaute_home') }}">
        <div class="card-body px-0 text-center">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Beauté</p>
        </div>
    </a>
        <a class="card border-0 m-2 nav-link" href="{{ path('beaute_epilations') }}">
        <div class="card-body px-0 text-center">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Épilations</p>
        </div>
    </a>
    <a class="card border-0 m-2 nav-link" href="{{ path('beaute_manucures') }}">
        <div class="card-body px-0 text-center">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i>
            <p class="mb-0">Manucures</p>
        </div>
    </a>
    <a class="card border-0 m-2 nav-link" href="#">
        <div class="card-body px-0 text-center">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Beauté des pieds</p>
        </div>
    </a>
    <a class="card border-0 m-2 nav-link" href="#">
        <div class="card-body px-0 text-center">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Cils et sourcils</p>
        </div>
    </a>
    <a class="card border-0 m-2 nav-link" href="#">
        <div class="card-body px-0 text-center">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Maquillage</p>
        </div>
    </a>
</div>