<!-- Navbar Secondaire Beaute -->
<div class="swiper">
    <div class="swiper-wrapper container-fluid d-flex justify-content-start justify-content-xxl-center bg-white secondary-nav">
        <a class="swiper-slide nav-link" href="{{ path('beaute_home') }}">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Beauté</p>
        </a>
            <a class="swiper-slide nav-link" href="{{ path('beaute_epilations') }}">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Épilations</p>
        </a>
        <a class="swiper-slide nav-link" href="{{ path('beaute_manucures') }}">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i>
            <p class="mb-0">Manucures</p>
        </a>
        <a class="swiper-slide nav-link" href="#">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Beauté des pieds</p>
            <small class="fw-bold green-1">soon</small>
        </a>
        <a class="swiper-slide nav-link" href="#">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Cils et sourcils</p>
            <small class="fw-bold green-1">soon</small>
        </a>
        <a class="swiper-slide nav-link" href="#">
            <p><i class="fal fa-fw fa-2x fa-squirrel"></i></p>
            <p class="mb-0">Maquillage</p>
            <small class="fw-bold green-1">soon</small>
        </a>
    </div>
</div>