<!-- Navbar Secondaire -->
<div class="container-fluid d-flex justify-content-lg-center bg-white secondary-nav">
    <a class="card border-0 m-2 nav-link" href="{{ path('profil') }}">
        <div class="card-body px-0 text-center">
            <p><i class="fa-light fa-fw fa-2x fa-user"></i></p>
            <p class="mb-0">Profil</p>
        </div>
    </a>
    <a class="card border-0 m-2 nav-link" href="{{ path('purchases_index') }}">
        <div class="card-body px-0 text-center">
            <p><i class="fa-light fa-fw fa-2x fa-list-ul"></i></p>
            <p class="mb-0">Commandes</p>
        </div>
    </a>
    <a class="card border-0 m-2 nav-link" href="#">
        <div class="card-body px-0 text-center">
            <p><i class="fa-light fa-fw fa-2x fa-leaf"></i></p>
            <p class="mb-0">Eucalyptus</p>
        </div>
    </a>
    <a class="card border-0 m-2 nav-link" href="#">
        <div class="card-body px-0 text-center">
            <p><i class="fa-light fa-fw fa-2x fa-star"></i></p>
            <p class="mb-0">Évaluations</p>
        </div>
    </a>
    <a class="card border-0 m-2 nav-link" href="#">
        <div class="card-body px-0 text-center">
            <p><i class="fa-light fa-fw fa-2x fa-heart"></i></p>
            <p class="mb-0">Santé</p>
        </div>
    </a>
    <a class="card border-0 m-2 nav-link" href="{{ path('user_parameter') }}">
        <div class="card-body px-0 text-center">
            <p><i class="fa-light fa-fw fa-2x fa-gear"></i></p>
            <p class="mb-0">Paramètres</p>
        </div>
    </a>
</div>

