{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <main class="container py-3">

        <section class="my-3 py-3 my-lg-5 py-lg-5">
            <div class="d-grid gap-5 col-10 col-md-8 col-lg-4 mx-auto">
                <img class="home-logo" src="/img/logo/logo-2-af-couleur.svg" alt="Logo Aurélie Fabre">
            </div>
            <div class="row mt-5 text-center">
                <div class="col-10 offset-md-1 col-lg-6 offset-lg-3">
                    <h1>Institut Aurélie Fabre</h1>
                    <p class="dg-2 my-3 h5">Slogan ou avis aléatoire ?</p>
                    <a class="btn btn-block btn-primary" href="#" disbaled>Prendre rendez-vous</a>
                </div>
            </div>
        </section>


        <img class="large-illustration my-5 w-shadow" src="/img/home/foret-hivernale.webp" alt="Forêt hivernale">
        

        <section class="my-3 py-3 my-lg-5 py-lg-5">
            <h2>Prestations mises en avant</h2>
            <div class="row g-4">
                {% for p in products %}
                    <div class="col-12 col-lg-4 col-xxl-3 d-flex align-items-stretch">
                        {% include "partials/_card_prestation.html.twig" with { 'p': p } %}
                    </div>
                {% endfor %}
            </div>
        </section>


        <img class="large-illustration my-5 w-shadow" src="/img/home/valeurs-environnement.webp" alt="Nos valeurs - Environnement - Qualité - Bien-Être">


        <section class="my-3 py-3 my-lg-5 py-lg-5">
            <h2>Nos valeurs</h2>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <article>

                        <h3>Valeur 1</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eum, aperiam accusantium repellendus atque molestias itaque quos quisquam voluptatem reiciendis!</p>
                    </article>
                </div>
                <div class="col-12 col-lg-4">
                    <article>
                        <h3>Valeur 2</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eum, aperiam accusantium repellendus atque molestias itaque quos quisquam voluptatem reiciendis!</p>
                    </article>
                </div>
                <div class="col-12 col-lg-4">
                    <article>
                        <h3>Valeur 3</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eum, aperiam accusantium repellendus atque molestias itaque quos quisquam voluptatem reiciendis!</p>
                    </article>
                </div>
            </div>
        </section>


        <img class="large-illustration my-5 w-shadow" src="/img/home/equipe.webp" alt="Un équuipe au top">


        <section class="my-3 py-3 my-lg-5 py-lg-5">
            <h2>Une super équipe</h2>
            <div class="row">

                <article class="col-6 col-lg text-center">
                    <img class="team-profil-picture" src="/img/equipe/aurelie.jpg" alt="">
                    <h3 class="mt-3">Aurélie</h3>
                    <p>Lorem ipsum dolor </p>
                </article>
            
                <article class="col-6 col-lg text-center">
                    <img class="team-profil-picture" src="/img/equipe/constance.jpg" alt="">
                    <h3 class="mt-3">Constance</h3>
                    <p>Lorem ipsum dolor </p>
                </article>
            
                <article class="col-6 col-lg text-center">
                    <img class="team-profil-picture" src="/img/equipe/amandine.jpg" alt="">
                    <h3 class="mt-3">Amandine</h3>
                    <p>Lorem ipsum dolor </p>
                </article>

                <article class="col-6 col-lg text-center">
                    <img class="team-profil-picture" src="/img/equipe/aurelie.jpg" alt="">
                    <h3 class="mt-3">Aurélie</h3>
                    <p>Lorem ipsum dolor </p>
                </article>
            
                <article class="col-6 col-lg text-center">
                    <img class="team-profil-picture" src="/img/equipe/constance.jpg" alt="">
                    <h3 class="mt-3">Constance</h3>
                    <p>Lorem ipsum dolor </p>
                </article>
            
                <article class="col-6 col-lg text-center">
                    <img class="team-profil-picture" src="/img/equipe/amandine.jpg" alt="">
                    <h3 class="mt-3">Amandine</h3>
                    <p>Lorem ipsum dolor </p>
                </article>
            </div>
        </section>
        
        

       



        {# {% include "partials/_footer.html.twig" with {
            'color': 'primary', 
            'icone': 'fas fa-truck',
            'text': 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius ipsam officiis beatae suscipit in asperiores nisi officia quidem facilis pariatur, laudantium quasi, harum reprehenderit deleniti distinctio quisquam sed eaque odio.',
        } %} #}
    
    </main>

{% endblock %}
