{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h1>Nos produits phares</h1>
    <div class="row">

        {% for product in products %}
            <div class="col">
                <div class="card">
                    <img src="https://picsum.photos/444/250" alt="Image du produit">
                    <div class="card-body">
                        <h4 class="card-title">{{ product.name }}</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores incidunt omnis accusantium.</p>
                        <button href="#" class="btn btn-sm btn-primary">Détails</button>
                        <button href="#" class="btn btn-sm btn-success">Ajouter</button>
                    </div>
                </div>
            </div>
        {% endfor %}
        
    </div>

    <hr>

    <h2>Un service top moumoutte</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima assumenda quibusdam quisquam impedit voluptate eligendi!</p>

    {% include "partials/_footer.html.twig" with {
        'color': 'primary', 
        'icone': 'fas fa-truck',
        'text': 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius ipsam officiis beatae suscipit in asperiores nisi officia quidem facilis pariatur, laudantium quasi, harum reprehenderit deleniti distinctio quisquam sed eaque odio.',
    } %}

    {% include "partials/_footer.html.twig" with {
        'color': 'success', 
        'icone': 'fas fa-check',
        'text': 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius ipsam officiis beatae suscipit in asperiores nisi officia quidem facilis pariatur, laudantium quasi, harum reprehenderit deleniti distinctio quisquam sed eaque odio.',
    } %}
    {% include "partials/_footer.html.twig" with {
        'color': 'warning', 
        'icone': 'fas fa-lock',
        'text': 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius ipsam officiis beatae suscipit in asperiores nisi officia quidem facilis pariatur, laudantium quasi, harum reprehenderit deleniti distinctio quisquam sed eaque odio.',
    } %}


{% endblock %}
