{# <div class="toast-container position-fixed top-20 end-0 p-3" style="z-index: 11" >

    {% for m in messages %}
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" {{ stimulus_controller('toast') }}>
            <div class="toast-body d-flex p-4">
                {% if rubrique == 'success' %}
                <strong class="me-2 text-success"><i class="fa-solid fa-circle-dot fa-fw"></i></strong>
                {% endif %}
                {% if rubrique == 'warning' %}
                    <strong class="me-2 text-warning"><i class="fa-solid fa-circle-dot fa-fw"></i></strong>
                {% endif %}
                {% if rubrique == 'danger' %}
                    <strong class="me-2 text-danger"><i class="fa-solid fa-circle-dot fa-fw"></i></strong>
                {% endif %}
                {% if rubrique == 'info' %}
                    <strong class="me-2 text-info"><i class="fa-solid fa-circle-dot fa-fw"></i></strong>
                {% endif %}

                <p class="my-0 me-auto fs-6">{{ m }}</p>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    {% endfor %}
</div> #}

{% for m in messages %}
    <div class="alert-{{rubrique}}">
        <div class="container py-3 text-center">
            <p class="fs-5 my-0">{{ m }}</p>
        </div>
    </div>
{% endfor %}
