{% extends 'base.html.twig' %}

{% block title %}Beauté{% endblock %}

{% block body %}

    <div class="container py-3">

        <h1>Beauté</h1>

        <h2>Actus Beauté ?</h2>
        
    </div>
    

{% endblock %}
