{% extends 'base.html.twig' %}

{% block title %}Beauté{% endblock %}

{% block body %}

    <main class="container py-3">
    
        <div class="grid-layout mt-5">

            <div id="card-1" class="card border-0 w-shadow">
                <div class="card-body p-5">
                    <h4>Manucures Artisanales</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam laborum ratione qui aut quae illo architecto dignissimos debitis culpa. Libero sit porro praesentium laboriosam placeat, adipisci amet voluptatibus. Rem vitae quae consequuntur? Ea atque optio deserunt temporibus consequatur aperiam commodi?</p>
                </div>
            </div>

            <div id="card-2" class="card border-0 w-shadow">
                <img src="/img/epilations/cire-epilations-min.webp" class="card-img-top" alt="...">
                <div class="card-body p-5">
                    <h4>Épilations Bio</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi animi optio quasi adipisci nostrum modi pariatur eos veniam aliquam consequuntur cum enim, fugiat facilis libero magni? Aliquid facilis excepturi earum?</p>
                </div>
            </div>


            <div id="card-3" class="card border-0 w-shadow">
                <div class="card-body p-5">
                    <h4>Maquillages sur mesure !</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur ipsum fugiat asperiores officiis facere eum? Numquam, cumque quia, animi dignissimos doloremque architecto, libero ex harum optio deserunt obcaecati molestias velit?</p>
                </div>
            </div>


            <div id="card-4" class="card border-0 w-shadow">
                <div class="card-body p-5">
                    <h4>Vernis Écologique</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur dignissimos quas unde debitis dicta ab a inventore voluptas ducimus eum.</p>
                </div>
            </div>

        </div>

    </main>
    

{% endblock %}
