{% extends 'base.html.twig' %}

{% block title %}Épilations{% endblock %}

{% block body %}

    <img class="large-illustration my-5 w-shadow" src="/img/epilations/cire-epilations-min.webp" alt="Cire pour épilations">

    <!-- Hero -->
    <section class="epilations-hero row py-md-5 py-3 my-md-5">
        <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3 text-center">
            <p class="green-1"><i class="fad fa-fw fa-5x fa-leaf"></i></p>
            <h1 class="hero-title mb-4 mb-md-3 px-1">Épilations <span class="green-1">Bio</span></h1>
            <p class="hero-p mb-4 mb-md-3 px-1">Nous utilisons une cire bio de haute qualité. Elle est fabriquée à Limoges et est à base de résine de pin des Landes.</p>
            
            <!-- Evaluations des Epilations -->
            <div class="card text-center mt-4 w-shadow border-0">
                <div class="card-body py-5">
                    
                    <p class="fs-4 mb-1">
                        <span class="sunflo-1">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                        4.98/5
                    </p>
                    <p class="dg-2 mb-0">Moyenne de l'institut</p>
                    <p class="dg-1">551 avis</p>
                    <button class="btn btn-success">Consulter les avis</button>
                </div>
            </div>
        </div>
    </section>


    <!-- Conditions -->
    <section class="epilations-conditions row g-3 my-3">
        <div class="col-12 col-md-6 col-xl-3 d-flex">
            <article class="card border-0 w-shadow w-100">
                <div class="card-body p-4 text-center">
                    <p class="green-1 mt-3 mb-2"><i class="fas fa-fw fa-3x fa-ruler-combined"></i></p>
                    <p class="fs-4 fw-bold">Longueur minimum</p>
                    <p><strong class="green-1">3 semaines de repousse minimum.</strong> L'idéal est de 4 semaines.</p>
                </div>
            </article>
        </div>
        <div class="col-12 col-md-6 col-xl-3 d-flex">
            <article class="card border-0 w-shadow w-100">
                <div class="card-body p-4 text-center">
                    <p class="green-1 mt-3 mb-2"><i class="fas fa-fw fa-3x fa-ruler-combined"></i></p>
                    <p class="fs-4 fw-bold">Hygiène</p>
                    <p>Ça serait super sympa d'avoir une bonne hygiène corporelle avant d'arriver à l'Institut.</p>
                </div>
            </article>
        </div>
        <div class="col-12 col-md-6 col-xl-3 d-flex">
            <article class="card border-0 w-shadow w-100">
                <div class="card-body p-4 text-center">
                    <p class="green-1 mt-3 mb-2"><i class="fas fa-fw fa-3x fa-clipboard-list"></i></p>
                    <p class="fs-4 fw-bold">Conseils de préparation de la peau</p>
                    <p>Il est préférable de faire un gommage sur la zone, la veille de l’épilation.Une bonne hydratation de la peau facilite l’épilation ( mais pas le jour J ).</p>
                </div>
            </article>
        </div>
        <div class="col-12 col-md-6 col-xl-3 d-flex">
            <article class="card border-0 w-shadow w-100">
                <div class="card-body p-4 text-center">
                    <p class="green-1 mt-3 mb-2"><i class="fas fa-fw fa-3x fa-clipboard-list-check"></i></p>
                    <p class="fs-4 fw-bold">Recommandations post-épilation</p>
                    <p>Désinfectez correctement, pendant 3 jours, la zone épilée pour éviter les infections.Évitez une exposition directe au soleil.</p>
                </div>
            </article>
        </div>
    </section>


    <img class="large-illustration my-5" src="/img/epilations/jambes-epilation-femme-min.webp" alt="Jambes d'une femme allongée dans l'herbe">
    

    <!-- Epilations Femmes -->
    <section class="epilations-femmes card w-100 border-0 w-shadow p-4">
        <div class="card-body">

            <h2 class="fw-bold">Épilations Femmes</h2>

            <div class="row">

                <div class="col-12 col-md-6 my-3">
                    <h3 class="dg-1">À la carte</h3>
                    <hr>
                    <ul class="list-group">
                        <li class="d-flex">
                            <span class="fs-6 me-auto">Menton</span>
                            <span class="me-2 green-1 fw-bold">9€</span>
                            <span class="me-2 dg-1">10min</span>
                        </li>
                        <li class="d-flex">
                            <span class="fs-6 me-auto">Trois quarts jambes</span>
                            <span class="me-2 green-1 fw-bold">39€</span>
                            <span class="me-2 dg-1">42min</span>
                        </li>
                        <li class="d-flex">
                            <span class="fs-6 me-auto">Entretien sourcils</span>
                            <span class="me-2 green-1 fw-bold">59€</span>
                            <span class="me-2 dg-1">32min</span>
                        </li>
                        <li class="d-flex">
                            <span class="fs-6 me-auto">Maillot intégral</span>
                            <span class="me-2 green-1 fw-bold">109€</span>
                            <span class="me-2 dg-1">52min</span>
                        </li>
                    </ul>
                </div>

                <div class="col-12 col-md-6 my-3">
                    <h3 class="dg-1">Les Forfaits</h3>
                    <hr>
                    <ul>
                        <li>
                            <span class="fs-6 me-2">Lèvre & sourcils</span>
                            <span class="me-2 dg-2">9€</span>
                            <span class="me-2 dg-2">15min</span>
                        </li>
                        <li>
                            <span class="fs-6 me-2">Maillot classique & aisselles</span>
                            <span class="me-2 dg-2">9€</span>
                            <span class="me-2 dg-2">15min</span>
                        </li>
                        <li>
                            <span class="fs-6 me-2">1/2 jambes & maillot classique ou aisselles</span>
                            <span class="me-2 dg-2">9€</span>
                            <span class="me-2 dg-2">15min</span>
                        </li>
                        <li>
                            <span class="fs-6 me-2">Jambes complètes & maillot classique ou aisselles</span>
                            <span class="me-2 dg-2">9€</span>
                            <span class="me-2 dg-2">15min</span>
                        </li>
                    </ul>

                    <h3 class="dg-1">Suppléments (forfaits)</h3>
                    <hr>
                    <ul>
                        <li>
                            <span class="fs-6 me-2">3/4 jambes</span>
                            <span class="me-2 dg-2">9€</span>
                            <span class="me-2 dg-2">15min</span>
                        </li>
                        <li>
                            <span class="fs-6 me-2">Maillot brésilien</span>
                            <span class="me-2 dg-2">9€</span>
                            <span class="me-2 dg-2">15min</span>
                        </li>
                        <li>
                            <span class="fs-6 me-2">Maillot string</span>
                            <span class="me-2 dg-2">9€</span>
                            <span class="me-2 dg-2">15min</span>
                        </li>
                        <li>
                            <span class="fs-6 me-2">Maillot intégral</span>
                            <span class="me-2 dg-2">9€</span>
                            <span class="me-2 dg-2">15min</span>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </section>


    <img class="large-illustration my-5" src="/img/epilations/ours-homme-min.webp" alt="Un ours ! Ok on est dans les clichés. Désolé">
    

    <section class="epilations-hommes card w-100 border-0 w-shadow p-4">
        <div class="card-body">

            <h2 class="fw-bold">Épilations Hommes</h2>

            <div class="row">

                <div class="col-12 col-md-6 my-3">
                    <h3 class="dg-1">À la carte</h3>
                    <hr>
                    <ul class="list-group">
                        <li class="d-flex">
                            <span class="fs-6 me-auto">Menton</span>
                            <span class="me-2 dg-2"><i class="far fa-tag"></i> 9€</span>
                            <span class="me-2 dg-2"><i class="far fa-clock"></i> 15min</span>
                        </li>
                        <li class="d-flex">
                            <span class="fs-6 me-auto">Trois quarts jambes</span>
                            <span class="me-2 dg-2"><i class="far fa-tag"></i> 25€</span>
                            <span class="me-2 dg-2"><i class="far fa-clock"></i> 35min</span>
                        </li>
                        <li class="d-flex">
                            <span class="fs-6 me-auto">Entretien sourcils</span>
                            <span class="me-2 dg-2"><i class="far fa-tag"></i> 49€</span>
                            <span class="me-2 dg-2"><i class="far fa-clock"></i> 72min</span>
                        </li>
                        <li class="d-flex">
                            <span class="fs-6 me-auto">Maillot intégral</span>
                            <span class="me-2 dg-2"><i class="far fa-tag"></i> 109€</span>
                            <span class="me-2 dg-2"><i class="far fa-clock"></i> 52min</span>
                        </li>
                    </ul>
                </div>

                <div class="col-12 col-md-6 my-3">
                    <h3 class="dg-1">Les Forfaits</h3>
                    <hr>
                    <ul>
                        <li>
                            <span class="fs-6 me-2">Lèvre & sourcils</span>
                            <span class="me-2 dg-2">9€</span>
                            <span class="me-2 dg-2">15min</span>
                        </li>
                        <li>
                            <span class="fs-6 me-2">Maillot classique & aisselles</span>
                            <span class="me-2 dg-2">9€</span>
                            <span class="me-2 dg-2">15min</span>
                        </li>
                        <li>
                            <span class="fs-6 me-2">1/2 jambes & maillot classique ou aisselles</span>
                            <span class="me-2 dg-2">9€</span>
                            <span class="me-2 dg-2">15min</span>
                        </li>
                        <li>
                            <span class="fs-6 me-2">Jambes complètes & maillot classique ou aisselles</span>
                            <span class="me-2 dg-2">9€</span>
                            <span class="me-2 dg-2">15min</span>
                        </li>
                    </ul>

                    <h3 class="dg-1">Suppléments (forfaits)</h3>
                    <hr>
                    <ul>
                        <li>
                            <span class="fs-6 me-2">3/4 jambes</span>
                            <span class="me-2 dg-2">9€</span>
                            <span class="me-2 dg-2">15min</span>
                        </li>
                        <li>
                            <span class="fs-6 me-2">Maillot brésilien</span>
                            <span class="me-2 dg-2">9€</span>
                            <span class="me-2 dg-2">15min</span>
                        </li>
                        <li>
                            <span class="fs-6 me-2">Maillot string</span>
                            <span class="me-2 dg-2">9€</span>
                            <span class="me-2 dg-2">15min</span>
                        </li>
                        <li>
                            <span class="fs-6 me-2">Maillot intégral</span>
                            <span class="me-2 dg-2">9€</span>
                            <span class="me-2 dg-2">15min</span>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </section>

{% endblock %}
