{% extends 'base.html.twig' %}

{% block title %}Manucures{% endblock %}

{% block body %}

    <img class="large-illustration my-5" src="/img/manucures/mains-manucures-ongles-min.webp" alt="Ongles manucurés">

    <!-- Hero -->
    <section class="manucures-hero row py-md-5 py-3 my-md-5 text-center">
        <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
            <p class="green-1"><i class="fad fa-fw fa-5x fa-leaf"></i></p>
            <h1 class="hero-title mb-4 mb-md-3 px-1">Manucures</h1>
            <p class="hero-p mb-4 mb-md-3 px-1">Contrairement à beaucoup d’Instituts, nous prenons le temps de réaliser nos manucures à la main.</p>
        </div>
    </section>


    <!-- Prices -->
    <section class="manucures-prices card w-100 border-0 w-shadow p-4">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-6 my-3">
                    <h3 class="dg-1">À la carte</h3>
                    <hr>
                    <ul class="list-group">
                        <li class="d-flex">
                            <span class="fs-6 me-auto">Démaquillage des ongles</span>
                            <span class="me-2 green-1 fw-bold">9€</span>
                            <span class="me-2 dg-1">10min</span>
                        </li>
                        <li class="d-flex">
                            <span class="fs-6 me-auto">Trois quarts jambes</span>
                            <span class="me-2 green-1 fw-bold">39€</span>
                            <span class="me-2 dg-1">42min</span>
                        </li>
                        <li class="d-flex">
                            <span class="fs-6 me-auto">Démaquillage des ongles</span>
                            <span class="me-2 green-1 fw-bold">9€</span>
                            <span class="me-2 dg-1">10min</span>
                        </li>
                        <li class="d-flex">
                            <span class="fs-6 me-auto">Trois quarts jambes</span>
                            <span class="me-2 green-1 fw-bold">39€</span>
                            <span class="me-2 dg-1">42min</span>
                        </li>
                        <li class="d-flex">
                            <span class="fs-6 me-auto">Démaquillage des ongles</span>
                            <span class="me-2 green-1 fw-bold">9€</span>
                            <span class="me-2 dg-1">10min</span>
                        </li>
                        <li class="d-flex">
                            <span class="fs-6 me-auto">Trois quarts jambes</span>
                            <span class="me-2 green-1 fw-bold">39€</span>
                            <span class="me-2 dg-1">42min</span>
                        </li>
                        <li class="d-flex">
                            <span class="fs-6 me-auto">Démaquillage des ongles</span>
                            <span class="me-2 green-1 fw-bold">9€</span>
                            <span class="me-2 dg-1">10min</span>
                        </li>
                        <li class="d-flex">
                            <span class="fs-6 me-auto">Trois quarts jambes</span>
                            <span class="me-2 green-1 fw-bold">39€</span>
                            <span class="me-2 dg-1">42min</span>
                        </li>
                    </ul>
                </div>

                <div class="col-12 col-md-6 my-3">
                    <h3 class="dg-1">Suppléments</h3>
                    <hr>
                    <ul class="list-group">
                        <li class="d-flex">
                            <span class="fs-6 me-auto">Démaquillage des ongles</span>
                            <span class="me-2 green-1 fw-bold">5€</span>
                            <span class="me-2 dg-1">10min</span>
                        </li>
                        <li class="d-flex">
                            <span class="fs-6 me-auto">Limage des ongles</span>
                            <span class="me-2 green-1 fw-bold">8€</span>
                            <span class="me-2 dg-1">10min</span>
                        </li>
                        <li class="d-flex flex-column">
                            <div class="d-flex">
                                <span class="fs-6 me-auto">Supplément pose de vernis</span>
                                <span class="me-2 green-1 fw-bold">10€</span>
                                <span class="me-2 dg-1">15min</span>
                            </div>
                            <p class="dg-1 mb-0 warning">( tarif avec la manucure brésilienne )</p>
                        </li>
                        <li class="d-flex flex-column">
                            <div class="d-flex mb">
                                <span class="fs-6 me-auto">Supplément pose de french</span>
                                <span class="me-2 green-1 fw-bold">14€</span>
                                <span class="me-2 dg-1">15min</span>
                            </div>
                            <p class="dg-1 mb-0 warning">( tarif avec la manucure brésilienne )</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <!-- Conditions -->
    <section class="manucures-conditions row g-3 my-3">
        <div class="col-12 col-md-6 d-flex">
            <div class="card border-0 w-shadow w-100">
                <div class="card-body p-4 text-center">
                    <p class="green-1 mt-3 mb-2"><i class="fal fa-fw fa-3x fa-mug-tea"></i></p>
                    <p class="fs-4 fw-bold">Infusion offerte</p>
                    <p>Pour passer le temps de séchage du vernis, nous vous offrons une infusion bio & locale. <small class="dg-1">(  en vente à l'Institut )</small></p>
                    
                </div>
            </div>
        </div>
         <div class="col-12 col-md-6 d-flex">
            <div class="card border-0 w-shadow w-100">
                <div class="card-body p-4 text-center">
                    <p class="green-1 mt-3 mb-2"><i class="fal fa-fw fa-3x fa-exclamation-circle"></i></p>
                    <p class="fs-4 fw-bold">Important</p>
                    <p>Venez avec les ongles démaquillés.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
