:root {

    --green-1: #8CBFA6;
    --green-2: #5FAC93;
    --green-3: #4d856d;

	--lg-1: #F4F6F9;
    --lg-2: #E5E8E7;
    --lg-3: #CBD0D8;

    --dg-1: #A9B1BC;
    --dg-2: #646c77;
    --dg-3: #424953;

    --danger-1: #F76D87;
    --danger-2: #EC5564;
    --danger-3: #D94452;


    /*background-color: #58734e;*/
}

  





/* Style globaux */
/* Font */

body {
	font-family: 'Nunito', sans-serif;
	background-color: var(--lg-1) !important;
	color: var(--dg-3);
}

hr {
    border-radius: 50%;
}


.hero-title {
	font-weight: 600;
}
.hero-p {
	font-size: 1.2em;
	color: var(--dg-2);
}
.w-shadow {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	/* box-shadow: 
	85px 85px 58px rgb(0 0 0 / 3%), 
	35.51px 35.51px 24.23px rgb(0 0 0 / 2%), 
	18.99px 18.99px 12.96px rgb(0 0 0 / 2%), 
	10.64px 10.64px 7.26px rgb(0 0 0 / 2%), 
	5.65px 5.65px 3.86px rgb(0 0 0 / 1%), 
	2.35px 2.35px 1.61px rgb(0 0 0 / 1%); */
}

.large-illustration {
	border-radius: 1em;
	width: 100%;
	min-height: 20em;
	max-height: 30em;
	object-fit: cover;
}




/**********
    NAV 
**********/

/* Primary Nav */
.navbar {
    background-color: var(--green-2);
}
.navbar .nav-link {
    color: white !important;
    opacity: .7;
}
.navbar .logo-navbar {
    width: 40px;
}
.navbar a:hover {
    color:white !important;
    opacity: 1;
}

/* Secondary Nav */
.secondary-nav {
    overflow-x: auto;
}
.secondary-nav .nav-link {
    color: var(--dg-3);
}
.secondary-nav .nav-link:hover {
    color: var(--green-2);
}

/* Aside Nav Admin */
.aside-nav-admin {
    border-right: solid 2px var(--green-2);
}
.aside-nav-admin .nav-link {
    color: var(--dg-2);
}
.aside-nav-admin .nav-link:hover {
    color: var(--green-3);
}
.aside-nav-admin .active {
    color: var(--green-2) !important
}
.aside-nav-admin .disabled {
    color: var(--dg-1) !important
}

/**********
    CARD 
**********/
.card {
    border-radius:1.2em !important;
}
.card-img-top {
	object-fit: cover;
	/* border-radius: 1.2em 1.2em 0 0 !important; */
	height: 17em;
	border-radius: .65em !important;
}
.form-control,
.form-select {
    border-radius: 0.5em !important;
}

.prestation {
    transition: .6s;
}
.prestation:hover {
    transform: scale(1.02) translateY(-.5em);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.card-footer {
	border-bottom-left-radius: 1.2em !important; 
	border-bottom-right-radius: 1.2em !important;
}

/**********
    BTN 
**********/
.btn {
    border-radius: .8em;
    padding: .6em 1.5em;
	transition: .6s;
    border: 0;
    color: white;
}
.btn-primary {
    background-color: var(--green-2) !important;
}
.btn-primary:hover  {
    background-color: var(--green-3) !important;
}
.btn-secondary {
    background-color: var(--green-1) !important;
}
.btn-secondary:hover  {
    background-color: var(--green-2) !important;
}
.btn-danger,
.badge-danger {
    background-color: var(--danger-2) !important;
}
.btn-danger:hover,
.badge-danger:hover {
    background-color: var(--danger-3) !important;
}



.br-50 {
	border-radius: 50% !important;
}

/* COMPOSANTS */
.mini-avatar {
	border-radius: 50%;
	width: 2em;
	height: 2em;
	object-fit: cover;
}



/*******************************
    STYLE SPÉCIFIQUE PAR PAGE 
********************************/

/* Home et Profile */
.team-profil-picture {
	border-radius: 50%;
	width: 8em;
	height: 8em;
	object-fit: cover;
}

/* Toutes mes couleurs */

/* Grapefruit */
.grape-1 {
	color:#F76D87;
}
.grape-2 {
	color:#EC5564;
}
.grape-3 {
	color:#D94452;
}
.bg-grape-1 {
	background-color:#F76D87;
	color: white;
	border:2px solid white;
}
.bg-grape-2 {
	background-color:#EC5564;
	color: white;
	border:2px solid white;
}
.bg-grape-3 {
	background-color:#D94452;
	color: white;
	border:2px solid white;
}
.border-grape-1 {
	border:2px solid #F76D87;
}
.border-grape-2 {
	border:2px solid #EC5564;
}
.border-grape-3 {
	border:2px solid #D94452;
}


/* Bittersweet */
.bitter-1 {
	color:#FC8370;
}
.bitter-2 {
	color:#FB6D51;
}
.bitter-3 {
	color:#EB563F;
}
.bg-bitter-1 {
	background-color:#FC8370;
	color: white;
	border:2px solid white;
}
.bg-bitter-2 {
	background-color:#FB6D51;
	color: white;
	border:2px solid white;
}
.bg-bitter-3 {
	background-color:#EB563F;
	color: white;
	border:2px solid white;
}
.border-bitter-1 {
	border:2px solid #FC8370;
}
.border-bitter-2 {
	border:2px solid #FB6D51;
}
.border-bitter-3 {
	border:2px solid #EB563F;
}


/* Sunflower */
.sunflo-1 {
	color:#FCD277;
}
.sunflo-2 {
	color:#FECD57;
}
.sunflo-3 {
	color:#F5BA45;
}
.bg-sunflo-1 {
	background-color:#FCD277;
	color: white;
	border:2px solid white;
}
.bg-sunflo-2 {
	background-color:#FECD57;
	color: white;
	border:2px solid white;
}
.bg-sunflo-3 {
	background-color:#F5BA45;
	color: white;
	border:2px solid white;
}
.border-sunflo-1 {
	border:2px solid #FCD277;
}
.border-sunflo-2 {
	border:2px solid #FECD57;
}
.border-sunflo-3 {
	border:2px solid #F5BA45;
}


/* Grass */
.grass-1 {
	color:#B4E080;
}
.grass-2 {
	color:#9ED36A;
}
.grass-3 {
	color:#8AC054;
}
.bg-grass-1 {
	background-color:#B4E080;
	color: white;
	border:2px solid white;
}
.bg-grass-2 {
	background-color:#9ED36A;
	color: white;
	border:2px solid white;
}
.bg-grass-3 {
	background-color:#8AC054;
	color: white;
	border:2px solid white;
}
.border-grass-1 {
	border:2px solid #B4E080;
}
.border-grass-2 {
	border:2px solid #9ED36A;
}
.border-grass-3 {
	border:2px solid #8AC054;
}


/* Mint */
.mint-1 {
	color:#6ADDBD;
}
.mint-2 {
	color:#46CEAD;
}
.mint-3 {
	color:#35BB9B;
}
.bg-mint-1 {
	background-color:#6ADDBD;
	color: white;
	border:2px solid white;
}
.bg-mint-2 {
	background-color:#46CEAD;
	color: white;
	border:2px solid white;
}
.bg-mint-3 {
	background-color:#35BB9B;
	color: white;
	border:2px solid white;
}
.border-mint-1 {
	border:2px solid #6ADDBD;
}
.border-mint-2 {
	border:2px solid #46CEAD;
}
.border-mint-3 {
	border:2px solid #35BB9B;
}


/* Aqua */
.aqua-1 {
	color:#82D2ED;
}
.aqua-2 {
	color:#6FBCE4;
}
.aqua-3 {
	color:#5DAAD5;
}
.bg-aqua-1 {
	background-color:#82D2ED;
	color: white;
	border:2px solid white;
}
.bg-aqua-2 {
	background-color:#6FBCE4;
	color: white;
	border:2px solid white;
}
.bg-aqua-3 {
	background-color:#5DAAD5;
	color: white;
	border:2px solid white;
}
.border-aqua-1 {
	border:2px solid #82D2ED;
}
.border-aqua-2 {
	border:2px solid #6FBCE4;
}
.border-aqua-3 {
	border:2px solid #5DAAD5;
}


/* Blue Jeans */
.blue-1 {
	color:#73B1F4;
}
.blue-2 {
	color:#5E9CEA;
}
.blue-3 {
	color:#4B89DA;
}
.bg-blue-1 {
	background-color:#73B1F4;
	color: white;
	border:2px solid white;
}
.bg-blue-2 {
	background-color:#5E9CEA;
	color: white;
	border:2px solid white;
}
.bg-blue-3 {
	background-color:#4B89DA;
	color: white;
	border:2px solid white;
}
.border-blue-1 {
	border:2px solid #73B1F4;
}
.border-blue-2 {
	border:2px solid #5E9CEA;
}
.border-blue-3 {
	border:2px solid #4B89DA;
}



/* Lavender (violet) */
.lav-1 {
	color:#B3A5EF;
}
.lav-2 {
	color:#AC96EA;
}
.lav-3 {
	color:#967ADA;
}
.bg-lav-1 {
	background-color:#B3A5EF;
	color: white;
	border:2px solid white;
}
.bg-lav-2 {
	background-color:#AC96EA;
	color: white;
	border:2px solid white;
}
.bg-lav-3 {
	background-color:#967ADA;
	color: white;
	border:2px solid white;
}
.border-lav-1 {
	border:2px solid #B3A5EF;
}
.border-lav-2 {
	border:2px solid #AC96EA;
}
.border-lav-3 {
	border:2px solid #967ADA;
}


/* Pink */
.pink-1 {
	color:#F299CE;
}
.pink-2 {
	color:#EB87BF;
}
.pink-3 {
	color:#D670AC;
}
.bg-pink-1 {
	background-color:#F299CE;
	color: white;
	border:2px solid white;
}
.bg-pink-2 {
	background-color:#EB87BF;
	color: white;
	border:2px solid white;
}
.bg-pink-3 {
	background-color:#D670AC;
	color: white;
	border:2px solid white;
}
.border-pink-1 {
	border:2px solid #F299CE;
}
.border-pink-2 {
	border:2px solid #EB87BF;
}
.border-pink-3 {
	border:2px solid #D670AC;
}


/* Skin Tone */
.skin-1 {
	color:#F4D0B5;
}
.skin-2 {
	color:#F0C8A5;
}
.skin-3 {
	color:#E4B693;
}
.bg-skin-1 {
	background-color:#F4D0B5;
	color: white;
	border:2px solid white;
}
.bg-skin-2 {
	background-color:#F0C8A5;
	color: white;
	border:2px solid white;
}
.bg-skin-3 {
	background-color:#E4B693;
	color: white;
	border:2px solid white;
}
.border-skin-1 {
	border:2px solid #F4D0B5;
}
.border-skin-2 {
	border:2px solid #F0C8A5;
}
.border-skin-3 {
	border:2px solid #E4B693;
}


/* Light Gray */
.lg-1 {
	color:#F4F6F9;
}
.lg-2 {
	color:#E5E8E7;
}
.lg-3 {
	color:#CBD0D8;
}
.bg-lg-1 {
	background-color:#F4F6F9;
	border:2px solid white;
}
.bg-lg-2 {
	background-color:#E5E8E7;
	border:2px solid white;
}
.bg-lg-3 {
	background-color:#CBD0D8;
	border:2px solid white;
}
.border-lg-1 {
	border:2px solid #F4F6F9;
}
.border-lg-2 {
	border:2px solid #E5E8E7;
}
.border-lg-3 {
	border:2px solid #CBD0D8;
}



/* Dark Gray */
.dg-1 {
	color:#A9BABC;
}
.dg-2 {
	color:#646c77;
}
.dg-3 {
	color:#424953;
}
.bg-dg-1 {
	background-color:#A9BABC;
	color: white;
	border:2px solid white;
}
.bg-dg-2 {
	background-color:#646C77;
	color: white;
	border:2px solid white;
}
.bg-dg-3 {
	background-color:#424953;
	color: white;
	border:2px solid white;
}
.border-dg-1 {
	border:2px solid #A9BABC;
}
.border-dg-2 {
	border:2px solid #646C77;
}
.border-dg-3 {
	border:2px solid #424953;
}

.bg-white {
	background-color:white;
}

.green-1{
	color: #8CBFA6;
}
.green-2 {
	color: #5FAC93;
}