{% extends "base.html.twig" %}

{% block title %}
    Dashboard
{% endblock %}

{% block body %}
    
    <main class="pt-3">

        <section class="container">
             <h1>Dashboard Admin</h1>
        </section>

        <section class="container-fluid">

            <!-- Menu -->
            <aside>
            </aside>
            
            <!-- Affichage -->
            <section>
            </section>

        </section>

    </main>
   
{% endblock %}