{% extends 'base.html.twig' %}

{% block title %}Naturopathie{% endblock %}

{% block body %}

    <main class="container py-3">

        <!-- Hero -->
        <section class="row py-md-5 py-3 my-md-5 text-center">
            <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
                <p class="green-1"><i class="fa-regular fa-feather fa-5x"></i></p>
                <h1 class="hero-title mb-4 mb-md-3 px-1">Naturopathie</h1>
                <p class="hero-p mb-4 mb-md-3 px-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, repudiandae eos! Quibusdam laborum voluptatibus, eveniet nobis, quisquam qui, odio sunt quaerat neque enim nemo a!</p>
            </div>
        </section>

        <img class="large-illustration my-5 w-shadow" src="/img/naturopathie/accueil-natoropathie-min.webp" alt="Naturopathie">
        
    </main>

{% endblock %}