{% extends "base.html.twig" %}

{% block title %}
    Payez votre commande avec Stripe
{% endblock %}

{% block body %}

    <main class="container py-5">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-6">
                <h1 class="my-3">Payez votre commande avec Stripe</h1>

                <form id="payment-form">
                    <div id="payment-element">
                        <!-- Elements will create form elements here -->
                    </div>

                    <div class="d-flex">
                        <button id="submit" class="btn btn-primary mt-3 ms-auto">Payer avec Stripe</button>
                    </div>
                    
                    <div id="payment-message" class="hidden"></div>
                </form>
            </div>
        </div>
    </main>

{% endblock %}


{% block javascripts %}
    {# Balise Parent : pour conserver ce qu'il pourrait déjà y avoir dans le block JS  sans l'écraser #}
    {{ parent() }}

    {# Import JS Stripe #} 
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        const clientSecret = '{{ clientSecret }}';
        const stripePublicKey = '{{ stripePublicKey }}';
        const redirectAfterSuccessUrl = "{{ url('purchase_payment_success', {id:  purchase.id }) }}"
    </script>
    <script src="/js/payment.js"></script>

{% endblock %}