<row class="footer text-center">
    <columns large="6">
        <p>
            <strong>Nous contacter</strong><br/>
            tel : 02 34 36 00 45<br/>
            email : contact@aureliefabre.com
        </p>
    </columns>
    <columns large="6">
        <p>
            <strong>Institut Aurélie Fabre</strong><br/>
            49 Ter Boulevard Preuilly<br/>
            37000 TOURS
        </p>
    </columns>
</row>