<!-- Menu -->
<aside class="col-2 nav flex-column aside-nav-admin">
	<a class="nav-link active" href="{{ path('products_show') }}">Dashboard</a>
	<a class="nav-link disabled" href="#">CA</a>
	<a class="nav-link disabled">Rendez-vous</a>
</aside>
