<!-- Menu -->
<aside class="col-2 nav flex-column aside-nav-admin">
	<a class="nav-link active" href="{{ path('products_show') }}">Liste des produits</a>
	<a class="nav-link" href="{{ path('product_create') }}">Ajouter un produit</a>
	<a class="nav-link disabled">Disabled</a>
</aside>
