<!-- Menu -->
<aside class="col-2 nav flex-column aside-nav-admin">
	<a class="nav-link active" href="{{ path('customers_show') }}">Liste des clients</a>
	<a class="nav-link disabled" href="#">Ajouter un client</a>
	<a class="nav-link disabled">Disabled</a>
</aside>
