{% extends 'base.html.twig' %}

{% block title %}Bien-Être{% endblock %}

{% block body %}

    <img class="large-illustration my-5 w-shadow" src="/img/bien-etre/detente-bien-etre-min.webp" alt="Une femme sur un ponton face à la mer, faisant son Yoga au soleil levant">

    <div class="container py-3">

        <h1>Bien-Être</h1>

        <h2>Prestation mise en avant ?</h2>
        
        <h2>Actus Bien-Être ?</h2>

        <h2>Prestations du moment ?</h2>

    </div>
    

{% endblock %}
