{% extends 'base.html.twig' %}

{% block title %}Bien-Être{% endblock %}

{% block body %}

    <main class="container py-3">

        <section class="grid-layout mt-5">

            <div id="card-1" class="card border-0">
                <img class="br-12" src="/img/bien-etre/detente-bien-etre-min.webp" alt="Une femme sur un ponton face à la mer, faisant son Yoga au soleil levant">
            </div>

            <div id="card-2" class="card border-0">
               <img class="br-12" src="/img/institut/cabine-massage-min.webp" alt="Une photo d'une cabine de massage à l'Institut"> 
            </div>

            <div id="card-3" class="card border-0">
                <img class="br-12" src="/img/soins-dr-hauschka/lac-vosges-soins-dr-hauschka-min.webp" alt="Soins Dr.Hauschka">
            </div>

            <div id="card-4" class="card border-0">
                <img class="br-12" src="/img/soins-66°30/homme-montagne-soins-66-degre-30-min.webp" alt="Soins pour hommes 66°30">
            </div>

        </section>


        <section class="mt-5">

            <h1>Actus Bien-Être</h1>
            <p>Blog ?</p>
            
        </section>


        <section class="mt-5">

            <h2>Prestation mise en avant ?</h2>
            
        </section>


        <section class="mt-5">

            <h2>Meilleurs ventes ?</h2>

            
        </section>

        
    </main>
    

{% endblock %}
