{% extends 'base.html.twig' %}

{% block title %}Consiels & Bilans{% endblock %}

{% block body %}

    <img class="large-illustration my-5 w-shadow" src="/img/institut/interieur-institut-3.webp" alt="Une vue de l'intérieur de l'Institut">
    
    <!-- Hero -->
    <section class="row py-md-5 py-3 my-md-5 text-center">
        <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
            <p class="green-1"><i class="fad fa-fw fa-5x fa-comments"></i></p>
            <h1 class="hero-title mb-4 mb-md-3 px-1">Conseils et Bilans</h1>
            <p class="hero-p mb-4 mb-md-3 px-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum quasi vitae obcaecati facilis molestiae recusandae, neque natus similique nemo eum.</p>
        </div>
    </section>

{% endblock %}
