{% extends 'base.html.twig' %}

{% block title %}Massages du Monde{% endblock %}

{% block body %}

    <main class="container py-3">
       
        <!-- Hero -->
        <section class="row py-md-5 py-3 my-md-5 text-center">
            <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
                <p class="green-1"><i class="fa-regular fa-fw fa-5x fa-globe-europe"></i></p>
                <h1 class="hero-title mb-4 mb-md-3 px-1">Les Massages du Monde</h1>
                <p class="hero-p mb-4 mb-md-3 px-1">Laissez votre corps et votre esprit s'évader lors de massages sensitifs et profonds.</p>
            </div>
        </section>

        <img class="large-illustration my-5 w-shadow" src="/img/massage-du-monde/californie-min.webp" alt="Les massages du Monde">
 
        <!-- Les Produits -->
        <section class="row g-4">
            {% for p in products %}
                {% if p.category.name == "Massages du Monde" %}
                    <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
                        {% include "partials/_card_prestation.html.twig" with { 'p': p } %}
                    </div>
                {% endif %}
            {% endfor %}
        </section>

    </main>

{% endblock %}
