{% extends 'base.html.twig' %}

{% block title %}Massages du Monde{% endblock %}

{% block body %}

    <main class="container py-3">

        <!-- Hero -->
        <section class="row py-md-5 py-3 my-md-5 text-center">
            <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
                <p class="green-1"><i class="fa-regular fa-fw fa-5x fa-clipboard-list-check"></i></p>
                <h1 class="hero-title mb-4 mb-md-3 px-1">Composez Votre Massage</h1>
                <p class="hero-p mb-4 mb-md-3 px-1">" Il est possible de composer votre propre massage ! Mais attention, pas plus de 20 min par zone du corps pour éviter une prestation trop redondante "</p>
            </div>
        </section>

        <img class="large-illustration my-5 w-shadow" src="/img/massage-a-la-carte/a-la-carte-min.webp" alt="Cabine de massage à l'Institut">
        
    </main>

{% endblock %}
