{% extends 'base.html.twig' %}

{% block title %}Massages de l'Institut{% endblock %}

{% block body %}

    <img class="large-illustration my-5 w-shadow" src="/img/institut/cabine-massage-min.webp" alt="Une photo d'une cabine de massage à l'Institut">
    
    <!-- Hero -->
    <section class="row py-md-5 py-3 my-md-5 text-center">
        <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
            <p class="green-1"><i class="fad fa-fw fa-5x fa-spa"></i></p>
            <h1 class="hero-title mb-4 mb-md-3 px-1">Les Massages de l'Institut</h1>
            <p class="hero-p mb-4 mb-md-3 px-1">Nous avons créé pour vous quelques formules originales !</p>
        </div>
    </section>

{% endblock %}
