{% extends 'base.html.twig' %}

{% block title %}Soins Absolution{% endblock %}

{% block body %}

    <img class="large-illustration my-5 w-shadow" src="/img/soins-absolution/colines-automne-soins-absolution-min.webp" alt="Soins Absolution">
    
    <!-- Hero -->
    <section class="row py-md-5 py-3 my-md-5 text-center">
        <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
            <p class="green-1"><i class="fad fa-fw fa-5x fa-seedling"></i></p>
            <h1 class="hero-title mb-4 mb-md-3 px-1">Les Soins Visage Bio Absolution</h1>
            <p class="hero-p mb-4 mb-md-3 px-1">L'Institut vient de se mettre à jour et intègre tous les nouveaux soins Absolution !</p>
        </div>
    </div>
    </section>

{% endblock %}
