{% extends 'base.html.twig' %}

{% block title %}Soins Dr. Hauschka{% endblock %}

{% block body %}

    <main class="container py-3">
        
        <!-- Hero -->
        <section class="row py-md-5 py-3 my-md-5 text-center">
            <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
                <p class="green-1"><i class="fa-regular fa-fw fa-5x fa-flask"></i></p>
                <h1 class="hero-title mb-4 mb-md-3 px-1">Les Soins Dr. Hauschka</h1>
                <p class="hero-p mb-4 mb-md-3 px-1">Des soins haut de gamme, très spécifiques.</p>
            </div>
        </section>

        <img class="large-illustration my-5 w-shadow" src="/img/soins-dr-hauschka/lac-vosges-soins-dr-hauschka-min.webp" alt="Soins Dr.Hauschka">

    </main>

{% endblock %}
