{% extends 'base.html.twig' %}

{% block title %}Soins 66°30{% endblock %}

{% block body %}

    <main class="container py-3">

        <img class="large-illustration my-5 w-shadow" src="/img/soins-66°30/homme-montagne-soins-66-degre-30-min.webp" alt="Soins pour hommes 66°30">
        
        <!-- Hero -->
        <section class="row py-md-5 py-3 my-md-5 text-center">
            <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
                <p class="green-1"><i class="fad fa-fw fa-5x fa-mountain"></i></p>
                <h1 class="hero-title mb-4 mb-md-3 px-1">Les Soins pour "Hommes" 66°30</h1>
                <p class="hero-p mb-4 mb-md-3 px-1">Conçus plus spécifiquement pour les peaux masculines</p>
            </div>
        </section>

    </main>

{% endblock %}
