{% extends 'base.html.twig' %}

{% block title %}Soins de l'Institut{% endblock %}

{% block body %}

    <main class="container py-3">

        <img class="large-illustration my-5 w-shadow" src="/img/soins-de-linstitut/foret-lac-soins-institut-min.webp" alt="Soins de l'Institut">
        
        <!-- Hero -->
        <section class="row py-md-5 py-3 my-md-5 text-center">
            <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
                <p class="green-1"><i class="fad fa-fw fa-5x fa-snow-blowing"></i></p>
                <h1 class="hero-title mb-4 mb-md-3 px-1">Les Soins de l'Institut</h1>
                <p class="hero-p mb-4 mb-md-3 px-1">Votre peau est tiraillée par les agressions de la météo ou de mauvaises habitudes de vie. Voici toute une gamme de soins qui sauront lui redonner son éclat.</p>
            </div>
        </section>

    </main>

{% endblock %}
